@model Corrida

@{
    ViewData["Title"] = "Corrida";
}

<h1>Pedido: @Model.CorridaId </h1>

<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Data Pedido</th>
        <th>Valor</th>
        <th>Desconto</th>
        <th>Forma de Pagamento</th>
    </tr>
    <tr>
        <td>@Model.Cliente?.Nome</td>
        <td>@Model.DataCorrida</td>
        <td>@Model.Valor</td>
        <td>@Model.Desconto</td>
        <td>@Model.FormaPagamento</td>
    </tr>
</table>

<hr />
<h2>Produtos</h2>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="adicionar" class="form-inline mb-3">
    <input type="hidden" name="pedidoId" value="@Model.CorridaId" />
    <select class="form-control mr-2" name="produtoId" asp-items="@ViewBag.produtosSelect">
        <option>Selecione</option>
    </select>
    <input type="submit" value="Adicionar" class="btn btn-success" />
</form>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Descrição</th>
    </tr>
    @foreach (var item in ViewBag.produtos)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Valor</td>
            <td>@item.Descricao</td>
        </tr>
    }
</table>

<a asp-action="index" class="btn btn-primary">Finalizar</a>
